body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

#header {
    margin: 0;
    padding: 5px;
    background-color: antiquewhite;
}


#navbarList {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.navbarButton {
    border: 1px solid black;
    background-color: lightcoral;
    border-radius: 3px;
    width: 7rem;
    font-size: 1rem;
}
.navbarButton:hover {
    background-color: lightsalmon;
}

.hidden {
    display: none;
}


.toDoDiv {
    display: flex;
    flex-direction: column;
}
.divTitle:hover {
    cursor:pointer;
}

.propertyValue {
    border: 1px solid black;
    padding: 6px;
}


#dialogDiv {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
}
#content {
    margin: 1rem;
}

