
#navbarList {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.hidden {
    display: none;
}


.toDoDiv {
    display: flex;
    flex-direction: column;
}



#dialogDiv {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
}